/*
 Color codes
 bg: #081621
 bg-light: #f1f1f1
 in-bg: #e8f0fe
 go-bg; #797389
 white-light: rgba(255,255,255,.5)
*/

.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.inputContainer{

}

.inputContainer label{
    display: block;
}

.inputContainer input{
    background-color: black;
    color:white;
    padding: 15px;
    border-radius: .5rem;
    display: block;
    margin-bottom: 3px;
    border: 0px none;
}

.loginBTN{

}